.hp-posts {
  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__img {
    height: 228px;
    border-radius: 7.25rem 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      transition: transform 0.3s;
    }
  }
  &__item {
    max-width: 324px;
    padding: 0 15px;
    margin-bottom: 40px;

    a {
      display: block;
      position: relative;
      width: 100%;
      text-decoration: none;

      &:hover {
        img {
          transform: scale(1.1);
        }
        .h3 {
          text-decoration-color: inherit;
          transition: text-decoration-color 0.3s;
        }
      }
      .h3 {
        text-decoration: underline;
        text-decoration-color: transparent;
        margin-bottom: 16px;
      }
      .h6 {
        font-size: 12px;
        font-weight: 900;
        color: var(--color-gray);
        text-transform: uppercase;
      }
    }

    .tag {
      display: block;
      position: absolute;
      bottom: 0;
      margin-bottom: 0;
    }
  }
}
