<section class="hp-posts-section mb-10">
  <div class="container">
    <div class="hp-posts__inner">
      <div class="col-lg hp-posts__item">
        <a href="#">
          <div class="hp-posts__img">
            <img src="images/content/2.jpeg" alt="" loading="lazy" />
            <span class="tag">Klub</span>
          </div>
          <h4 class="h3">Mladší minižákyně čtvrté na Národním finále U12</h4>
          <h5 class="h6">před 2 hod</h5>
        </a>
      </div>
      <div class="col-lg hp-posts__item">
        <a href="#">
          <div class="hp-posts__img">
            <img src="images/content/1.jpeg" alt="" loading="lazy" />
            <span class="tag">Klub</span>
          </div>
          <h4 class="h3">
            Začíná série utkání o bronz, Lvice se v ní potkají s KP Brno
          </h4>
          <h5 class="h6">Včera</h5>
        </a>
      </div>
      <div class="col-lg hp-posts__item">
        <a href="#">
          <div class="hp-posts__img">
            <img src="images/content/3.jpeg" alt="" loading="lazy" />
            <span class="tag">Klub</span>
          </div>
          <h4 class="h3">
            Lvice budou letos bojovat o bronz, do finále postupují Žabiny
          </h4>
          <h5 class="h6">před 2 dny</h5>
        </a>
      </div>
      <div class="col-lg hp-posts__item">
        <a href="#">
          <div class="hp-posts__img">
            <img src="images/content/2.jpeg" alt="" loading="lazy" />
            <span class="tag">Klub</span>
          </div>
          <h4 class="h3">
            Vyrovnání série bylo blízko, ale nedopadlo. Žabiny vedou 2:0
          </h4>
          <h5 class="h6">před 2 dny</h5>
        </a>
      </div>
    </div>
    <a class="btn btn-primary" href="#">archiv článků</a>
  </div>
</section>
