<section class="c-players-section">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Hradecké Lvice</a></li>
      <li class="breadcrumb-item"><a href="#">Soupiska</a></li>
    </ul>
    <div class="c-table-section">
      <div class="row">
        <div class="col-12 col-lg mr-lg-4 pl-lg-2 pr-0 mb-10">
          <h1 class="h1 mb-10">Soupiska</h1>
          <div class="search-form mb-10">
            <form method="get">
              <div class="form-row">
                <div class="form-group col-md-4 col-12">
                  <label class="o-select">
                    Sezona:
                    <select class="js-select" name="file" id="inputFiles">
                      <option value="">Vyberte</option>
                      <option value="">kategorie</option>
                      <option value="">kategorie</option>
                      <option value="">kategorie</option>
                      <option value="">kategorie</option>
                      <option value="">kategorie</option>
                    </select>
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="o-content">
            <table>
              <thead>
                <tr>
                  <th><a href="#">#</a></th>
                  <th><a href="#">Jméno hráče</a></th>
                  <th><a href="#">Narozen</a></th>
                  <th><a href="#">Věk</a></th>
                  <th><a href="#">Výška</a></th>
                  <th><a href="#">Post</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>1</strong></td>
                  <td><a href="#">Simona Růžková</a></td>
                  <td>26.9.1995</td>
                  <td>26</td>
                  <td>183</td>
                  <td>PF</td>
                </tr>
                <tr>
                  <td><strong>1</strong></td>
                  <td><a href="#">Simona Růžková</a></td>
                  <td>26.9.1995</td>
                  <td>26</td>
                  <td>183</td>
                  <td>PF</td>
                </tr>
                <tr>
                  <td><strong>1</strong></td>
                  <td><a href="#">Simona Růžková</a></td>
                  <td>26.9.1995</td>
                  <td>26</td>
                  <td>183</td>
                  <td>PF</td>
                </tr>
                <tr>
                  <td><strong>1</strong></td>
                  <td><a href="#">Simona Růžková</a></td>
                  <td>26.9.1995</td>
                  <td>26</td>
                  <td>183</td>
                  <td>PF</td>
                </tr>
                <tr>
                  <td><strong>1</strong></td>
                  <td><a href="#">Simona Růžková</a></td>
                  <td>26.9.1995</td>
                  <td>26</td>
                  <td>183</td>
                  <td>PF</td>
                </tr>
                <tr>
                  <td><strong>1</strong></td>
                  <td><a href="#">Simona Růžková</a></td>
                  <td>26.9.1995</td>
                  <td>26</td>
                  <td>183</td>
                  <td>PF</td>
                </tr>
                <tr>
                  <td><strong>1</strong></td>
                  <td><a href="#">Simona Růžková</a></td>
                  <td>26.9.1995</td>
                  <td>26</td>
                  <td>183</td>
                  <td>PF</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {% include "@components/aside/aside.twig" %}
      </div>
    </div>
  </div>
</section>
