<section class="hp-games-section py-8">
  <div class="container">
    <div class="row">
      <div class="col-lg mr-lg-2 ml-lg-3 hp-games__item">
        <div class="hp-games__title">poslední zápas</div>
        <div class="hp-games__inner">
          <div class="col-auto hp-games__logo">
            <img src="images/content/team-1.png" loading="lazy" alt="" />
          </div>
          <div class="row">
            <div class="col-auto">
              <h2 class="h3">Levhartice Chomutov</h2>
              <h2 class="h3">Hradecké Lvice</h2>
            </div>
            <div class="col-auto hp-games__result">
              <a href="#">89 92</a>
            </div>
            <div class="row mt-4">
              <h3 class="h6 col-auto">Renomia ŽBL 2021/2022</h3>
              <h3 class="h6 col-auto">čtvrtek 26. 5. 18:00</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg mr-lg-2 ml-lg-3 hp-games__item">
        <div class="hp-games__title">příští zápas</div>
        <div class="hp-games__inner">
          <div class="col-auto hp-games__logo">
            <img src="images/content/team-2.png" loading="lazy" alt="" />
          </div>
          <div class="row">
            <div class="col-auto">
              <h2 class="h3">Hradecké Lvice</h2>
              <h2 class="h3">Žabiny Brno</h2>
            </div>
            <div class="col-auto hp-games__date">ČT 26.5. 18:00</div>
            <div class="row mt-4">
              <h3 class="h6 col-auto">Renomia ŽBL 2021/2022</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
