<div class="bcg-logo"></div>
<section class="player-slider">
  <div class="player">
    <img src="images/content/slider/1.png" loading="lazy" alt="" />
    <div class="info-player">
      <div class="info-player__number">73</div>
      <a href="#">
        <div class="info-player__name">
          Simona <br />
          Růžková
        </div>
      </a>
    </div>
  </div>
  <div class="player">
    <img src="images/content/slider/2.png" loading="lazy" alt="" />
    <div class="info-player">
      <div class="info-player__number">73</div>
      <a href="#">
        <div class="info-player__name">
          Simona <br />
          Růžková
        </div>
      </a>
    </div>
  </div>
  <div class="player">
    <img src="images/content/slider/3.png" loading="lazy" alt="" />
    <div class="info-player">
      <div class="info-player__number">73</div>
      <a href="#">
        <div class="info-player__name">
          SimonaSimona <br />
          RůžkováRůžková
        </div>
      </a>
    </div>
  </div>
  <div class="player">
    <img src="images/content/slider/4.png" loading="lazy" alt="" />
    <div class="info-player">
      <div class="info-player__number">73</div>
      <a href="#">
        <div class="info-player__name">
          Simona <br />
          Růžková
        </div>
      </a>
    </div>
  </div>
  <div class="player">
    <img src="images/content/slider/5.png" loading="lazy" alt="" />
    <div class="info-player">
      <div class="info-player__number">73</div>
      <a href="#">
        <div class="info-player__name">
          Simona <br />
          Růžková
        </div>
      </a>
    </div>
  </div>
  <div class="player">
    <img src="images/content/slider/6.png" loading="lazy" alt="" />
    <div class="info-player">
      <div class="info-player__number">73</div>
      <a href="#">
        <div class="info-player__name">
          Simona <br />
          Růžková
        </div>
      </a>
    </div>
  </div>
  <div class="player">
    <img src="images/content/slider/7.png" loading="lazy" alt="" />
    <div class="info-player">
      <div class="info-player__number">73</div>
      <a href="#">
        <div class="info-player__name">
          Simona <br />
          Růžková
        </div>
      </a>
    </div>
  </div>
  <div class="player">
    <img src="images/content/slider/8.png" loading="lazy" alt="" />
    <div class="info-player">
      <div class="info-player__number">73</div>
      <a href="#">
        <div class="info-player__name">
          Simona <br />
          Růžková
        </div>
      </a>
    </div>
  </div>
</section>
