<section class="c-player-section">
 
    <div class="c-player">
      <div class="c-player-photo">
        <img src="/images/content/slider/1.png" alt="" />
      </div>
      <div class="c-player-info">
        <div class="tag">PF</div>
        <h1 class="h1">
          <span>Charlotte</span>
          Velichová
        </h1>
        <ul class="c-player-info__list">
          <li>
            <span>Datum narození</span>
            25.4.2004
          </li>
          <li>
            <span>Výška</span>
            177
          </li>
          <li>
            <span>Národnost</span>
            CZE
          </li>
        </ul>
      </div>
    </div>
 
</section>
