<section class="c-article-section">
  <div class="container">
    <article class="c-article">
      <div class="c-article__top">
        <figure class="c-article__img">
          <img src="images/content/1.jpeg" loading="lazy" alt="" />
        </figure>
        <div class="c-article__top-info">
          <div class="tag">Author</div>
          <h1 class="h1 mb-4">
            West po porážce s Brnem: Měli jsme rozhodnout v první půli
          </h1>
          <h6 class="h6">16. 12. 2022</h6>
        </div>
      </div>
    </article>
  </div>
  <div class="container-small">
    <div class="o-content">
      <div class="perex">
        Čtvrtou letní posilou basketbalistů Nymburka se stal Američan Eric
        Lockett. Šestadvacetileté křídlo přichází z Arisu Soluň, kde patřil mezi
        nejlepší obránce řecké ligy. S českým šampionem podepsal smlouvu na rok.
      </div>
      <p>
        „Eric hraje velmi dobře a rychle do koše, ale nás zaujal především tím,
        jak pracuje pro tým i bez míče a zejména svou obranou, kterou nám dává
        do defenzivy mnoho dalších možností. Svou hrou mi připomíná Howarda
        Sant-Roose a nechám na fanoušcích, aby si to posoudili sami,“ řekl
        sportovní ředitel Nymburka Ladislav Sokolovský.
      </p>
      <p>
        Rodák z Atlanty prošel univerzitami Chipola, Florida International a
        North Carolina State, kde hrál s Torinem Dornem, který v minulé sezoně
        nastupoval za Jindřichův Hradec v KNBL.
      </p>
      <p>
        <strong>A proti nymburské legendě Petru Bendovi jste nehrál?</strong>
      </p>
      <p>
        Rodák z Atlanty prošel univerzitami Chipola, Florida International a
        North Carolina State, kde hrál s Torinem Dornem, který v minulé sezoně
        nastupoval za Jindřichův Hradec v KNBL.
      </p>
      <img src="images/content/3.jpeg" alt="" loading="lazy" />
      <p>
        Profesionální kariéru začal v Kataru za Al-Rayyan, kde s průměry 16,7
        bodů, 8,1 doskoků a 5,3 asistence patřil mezi nejlepší hráče. Poté
        zamířil do britské ligy, kde oblékal dres Bristolu a sbíral v průměru 15
        bodů, 7 doskoků a 4,2 asistence.
      </p>
      <ul>
        <li>Pozice 1</li>
        <li>Pozice 2</li>
        <li>Pozice 3</li>
        <li>Pozice 4</li>
        <li>
          <p>Pozice 5</p>
        </li>
        <li>
          <p>
            <a href="#"> Pozice 6 </a>
          </p>
        </li>
        <li>
          <a href="#">Pozice 7</a>
        </li>
        <li>
          <p>
            <strong> Pozice 8 </strong>
          </p>
        </li>
      </ul>
      <p>
        Minulou sezonu pak strávil v Arisu Soluň, kde byl především obranným
        specialistou. Za své výkony v defenzivě ho fanoušci zvolili dokonce
        druhým nejlepším obráncem celé řecké ligy po Thomasovi Walkupovi z
        Olympiakosu. V průměru hrál 22 minut na utkání a sbíral 6,1 bodů, 4
        <a href="#">doskoky a 1,3 asistence.</a>
      </p>
      <p>
        <img src="images/content/1.jpeg" alt="" loading="lazy" />
      </p>
      <p>
        Minulou sezonu pak strávil v Arisu Soluň, kde byl především obranným
        specialistou. Za své výkony v defenzivě ho fanoušci zvolili dokonce
        druhým nejlepším obráncem celé řecké ligy po Thomasovi Walkupovi z
        Olympiakosu. V průměru hrál 22 minut na utkání a sbíral 6,1 bodů, 4
        <a href="#">doskoky a 1,3 asistence.</a>
      </p>

      <p>
        Minulou sezonu pak strávil v Arisu Soluň, kde byl především obranným
        specialistou. Za své výkony v defenzivě ho fanoušci zvolili dokonce
        druhým nejlepším obráncem celé řecké ligy po Thomasovi Walkupovi z
        Olympiakosu. V průměru hrál 22 minut na utkání a sbíral 6,1 bodů, 4
        <a href="#">doskoky a 1,3 asistence.</a>
      </p>
      <p>
        <iframe
          style="width: 100%"
          data-cookiecategory="social"
          data-placeholder
          src="https://www.youtube.com/embed/7aUYTGtlUO8?rel=0&controls=1&autoplay=0&mute=0&start=0"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen=""
        ></iframe>
      </p>
      <p>
        <strong> Minulou sezonu pak strávil v Arisu Soluň</strong>
      </p>
      <p>
        Minulou sezonu pak strávil v Arisu Soluň, kde byl především obranným
        specialistou. Za své výkony v defenzivě ho fanoušci zvolili dokonce
        druhým nejlepším obráncem celé řecké ligy po Thomasovi Walkupovi z
        Olympiakosu. V průměru hrál 22 minut na utkání a sbíral 6,1 bodů, 4
        <a href="#">doskoky a 1,3 asistence.</a>
      </p>
      <p>
        Minulou sezonu pak strávil v Arisu Soluň, kde byl především obranným
        specialistou. Za své výkony v defenzivě ho fanoušci zvolili dokonce
        druhým nejlepším obráncem celé řecké ligy po Thomasovi Walkupovi z
        Olympiakosu. V průměru hrál 22 minut na utkání a sbíral 6,1 bodů, 4
        <a href="#">doskoky a 1,3 asistence.</a>
      </p>
      <p>
        Minulou sezonu pak strávil v Arisu Soluň, kde byl především obranným
        specialistou. Za své výkony v defenzivě ho fanoušci zvolili dokonce
        druhým nejlepším obráncem celé řecké ligy po Thomasovi Walkupovi z
        Olympiakosu. V průměru hrál 22 minut na utkání a sbíral 6,1 bodů, 4
        <a href="#">doskoky a 1,3 asistence.</a>
      </p>
      <p>
        Minulou sezonu pak strávil v Arisu Soluň, kde byl především obranným
        specialistou. Za své výkony v defenzivě ho fanoušci zvolili dokonce
        druhým nejlepším obráncem celé řecké ligy po Thomasovi Walkupovi z
        Olympiakosu. V průměru hrál 22 minut na utkání a sbíral 6,1 bodů, 4
        <a href="#">doskoky a 1,3 asistence.</a>
      </p>
    </div>
  </div>
</section>
