<section class="c-guidepost-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-10">
        <div class="c-guidepost__table">
          <div class="o-content mb-10">
            <h3 class="h3">TABULKA</h3>
            <table>
              <tbody>
                <tr>
                  <td><strong>1</strong></td>
                  <td>
                    <img
                      src="images/content/team-1.png"
                      loading="lazy"
                      alt=""
                    />
                  </td>
                  <td>Levhartice Chomutov</td>
                  <td>27</td>
                  <td>56:24</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td><strong>1</strong></td>
                  <td>
                    <img
                      src="images/content/team-1.png"
                      loading="lazy"
                      alt=""
                    />
                  </td>
                  <td>Levhartice Chomutov</td>
                  <td>27</td>
                  <td>56:24</td>
                  <td>26</td>
                </tr>
                <tr>
                  <td><strong>1</strong></td>
                  <td>
                    <img
                      src="images/content/team-1.png"
                      loading="lazy"
                      alt=""
                    />
                  </td>
                  <td>Levhartice Chomutov</td>
                  <td>27</td>
                  <td>56:24</td>
                  <td>26</td>
                </tr>
                <tr class="lvice">
                  <td>2.</td>
                  <td>
                    <img
                      src="images/content/team-2.png"
                      loading="lazy"
                      alt=""
                    />
                  </td>
                  <td>Hradecké Lvice</td>
                  <td>27</td>
                  <td>56:24</td>
                  <td>32</td>
                </tr>
                <tr>
                  <td><strong>1</strong></td>
                  <td>
                    <img
                      src="images/content/team-1.png"
                      loading="lazy"
                      alt=""
                    />
                  </td>
                  <td>Levhartice Chomutov</td>
                  <td>27</td>
                  <td>56:24</td>
                  <td>26</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <a class="btn btn-primary btn-radius" href="/08.0_table.html"
          >Kompletní tabulka
        </a>
      </div>
      <div class="col-lg-6 mb-10">
        <div class="c-guidepost__players">
          <h3 class="h3">NAŠI HRÁČI</h3>
          <div class="c-guidepost__player mb-10">
            <div class="c-guidepost__player-img">
              <img src="images/content/slider/1.png" loading="lazy" alt="" />
            </div>
            <div class="c-guidepost__player-info">
              <h4 class="h3">
                <span>Charlotte</span>
                Velichová
              </h4>
              <ul>
                <li>záložník</li>
                <li>18 let</li>
              </ul>
            </div>
          </div>
          <a class="btn btn-primary btn-radius" href="/11.0_players.html">
            Další hráči
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
