.c-guidepost__table {
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.04);
  td img {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    max-width: 32px;
  }
  th:first-child,
  td:first-child {
    padding-right: 8px;
  }
  td {
    vertical-align: middle;
    &:nth-child(2) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .o-content td + td {
    border-left: none;
  }
}
.c-guidepost__players {
  h3 {
    color: var(--color-red);
    margin-bottom: 1.5rem;
  }
}
.c-guidepost__player {
  position: relative;
  height: 324px;
  padding: 24px 24px 0 24px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  &::before {
    content: "";
    position: absolute;
    background-image: url("../images/content/bg-player.png");
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
  }
  &-info {
    position: relative;
    padding: 16px;
    ul {
      display: flex;
      margin-left: -8px;
      margin-right: -8px;
      li {
        padding: 0 8px;
      }
    }
    .h3 {
      margin-bottom: 16px;
      span {
        display: block;
        font-size: 22px;
      }
    }
  }
  &-img {
    max-width: 232px;
    display: flex;
    padding: 0 16px;
    justify-content: center;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
