<aside class="col-auto aside">
  <div class="submenu">
    <h3 class="h3 mb-4">Ostatní hráči</h3>
    <ul>
      <li class="active">
        <a href="#">Lucie Bolardtová</a>
      </li>
      <li>
        <a href="#">Lucie Bolardtová</a>
      </li>
      <li>
        <a href="#">Lucie Bolardtová</a>
      </li>
      <li>
        <a href="#">Lucie Bolardtová</a>
      </li>
      <li>
        <a href="#">Lucie Bolardtová</a>
      </li>
      <li>
        <a href="#">Lucie Bolardtová</a>
      </li>
      <li>
        <a href="#">Lucie Bolardtová</a>
      </li>
      <li>
        <a href="#">Lucie Bolardtová</a>
      </li>
    </ul>
  </div>
</aside>
