<aside class="col-auto aside">
  <div class="submenu">
    <h3 class="h3 mb-4">Klub</h3>
    <ul>
      <li>
        <a href="#">Historie</a>
      </li>
      <li>
        <a href="#">Úspěchy</a>
      </li>
      <li>
        <a href="#">Reprezentace</a>
      </li>
      <li>
        <a href="#">Kontakty</a>
      </li>
    </ul>
  </div>
  <div class="aside-game">
    <h3 class="h3 mb-4">Poslední zápas</h3>
    <div class="row pb-4">
      <div class="col-12 aside-game__date">
        čtvrtek 26.5. - 18:00
        <span>Kooperativa NBL 2021/22</span>
      </div>
      <div class="col-auto aside-game__logo">
        <img src="images/content/team-2.png" loading="lazy" alt="" />
      </div>
      <div class="col aside-game__name">
        <span>Levhartice Chomutov</span>
        <span>Hradecké Lvice</span>
      </div>
      <div class="col-auto aside-game__result">
        <a class="win" href="#">
          <span>65</span>
          <span>67</span>
        </a>
      </div>
    </div>
  </div>
  <div class="aside-game">
    <h3 class="h3 mb-4">Následující zápas</h3>
    <div class="row pb-4">
      <div class="col-12 aside-game__date">
        čtvrtek 26.5. - 18:00
        <span>Kooperativa NBL 2021/22</span>
      </div>
      <div class="col-auto aside-game__logo">
        <img src="images/content/team-1.png" loading="lazy" alt="" />
      </div>
      <div class="col aside-game__name">
        <span>Levhartice Chomutov</span>
        <span>Hradecké Lvice</span>
      </div>
    </div>
  </div>
</aside>
