<aside class="col-auto aside">
  <div class="submenu">
    <h3 class="h3 mb-4">Zápasy</h3>
    <ul>
      <li>
        <a href="#">Zápasy</a>
      </li>
      <li>
        <a href="#">Tabulka</a>
      </li>
    </ul>
  </div>
</aside>
