.hp-videos-section {
  margin-bottom: 32px;
  iframe {
    padding: 8px;
    background-color: var(--color-light);
    display: block;
    margin-bottom: 8px;
    height: 188px;
  }
  p {
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    line-height: 125%;
  }
}
