<section class="hp-videos-section">
  <div class="container">
    <div class="row g-6">
      <div class="col-12 col-md-6 col-md-6 col-lg-3">
        <iframe
          style="width: 100%"
          data-cookiecategory="social"
          data-placeholder
          src="https://www.youtube.com/embed/7aUYTGtlUO8?rel=0&controls=1&autoplay=0&mute=0&start=0"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen=""
        ></iframe>
        <p>Hradecké lvice vyrazily do Deštné v Orl. horách</p>
      </div>

      <div class="col-12 col-md-6 col-md-6 col-lg-3">
        <iframe
          style="width: 100%"
          data-cookiecategory="social"
          data-placeholder
          src="https://www.youtube.com/embed/7aUYTGtlUO8?rel=0&controls=1&autoplay=0&mute=0&start=0"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen=""
        ></iframe>
        <p>Romana Ptáčková Sokol Hradec Králové Slovanka MB</p>
      </div>

      <div class="col-12 col-md-6 col-md-6 col-lg-3">
        <iframe
          style="width: 100%"
          data-cookiecategory="social"
          data-placeholder
          src="https://www.youtube.com/embed/7aUYTGtlUO8?rel=0&controls=1&autoplay=0&mute=0&start=0"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen=""
        ></iframe>
        <p>Kateřina Zavázalová, Lvice - U19 Chance 104:54</p>
      </div>

      <div class="col-12 col-md-6 col-md-6 col-lg-3">
        <iframe
          style="width: 100%"
          data-cookiecategory="social"
          data-placeholder
          src="https://www.youtube.com/embed/7aUYTGtlUO8?rel=0&controls=1&autoplay=0&mute=0&start=0"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen=""
        ></iframe>
        <p>Kristýna Minarovičová hodnotí postupové utkání Lvic</p>
      </div>
    </div>
  </div>
</section>
