<section class="c-match-section">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Hradecké Lvice</a></li>
      <li class="breadcrumb-item"><a href="#"> Muži A </a></li>
      <li class="breadcrumb-item"><a href="#"> Reportáž ze zápasu:</a></li>
    </ul>
    <div class="row">
      <div class="col-12 col-lg mr-lg-4 pl-lg-2 pr-0">
        <div class="c-match-section__box">
          <div class="c-match-section__item">
            <p class="c-match-section__date">
              Kooperativa NBL
              <br />
              sobota 1. 10. 2022 od 18:00
            </p>
            <div class="c-match-section__inner">
              <div class="c-match-section__logo">
                <img src="images/content/logo.png" alt="" />
              </div>
              <div class="c-match-section__result">
                61:69
                <p>15:14, 20:18, 15:23, 11:14</p>
              </div>
              <div class="c-match-section__logo">
                <img src="images/content/team-1.png" alt="" />
              </div>
            </div>
            <div class="c-match-section__name">
              <strong>BK Opava — ERA Basketball Nymburk</strong>
            </div>
          </div>
          <h2 class="h3 mb-2">Statistiky zápasu</h2>
          <p>
            <strong>Nejvíce bodů:</strong> Mokráň 14, Zbránek a Šiřina po 10 -
            Ivanauskas, Simmons a Stokes po 14, Lockett po 8, Benda a Kříž po 6,
            Kovář 5, Palyza 2, Watson a Tůma po 0..
            <strong>Fauly:</strong> 20:25. TH: 29/14 - 15/9.
            <strong>Trojky:</strong> 7:2. <strong>Doskoky:</strong> 42:48.
            <strong>Ztráty:</strong> 17:10. <strong>Zisky:</strong> 5:10.
            Asistence: 10:8.
          </p>
        </div>
        <div class="o-content">
          <p>
            Basketbalisté Nymburka vstoupili do nové sezony výhrou 69:61 v
            Opavě. V repríze posledního finále se sice trápili střelecky, ale
            vynahradili to velmi dobrou obranou a ve druhé půli kontrolovali své
            vítězství. Naladili se tak na úterní duel Ligy mistrů s Bilbaem.
          </p>
          <p>
            Opava tradičně v domácím prostředí před dvěma tisíci diváků začala
            lépe a vedla 11:4. Nymburk měl trable s přesností střelby, když za
            celý zápas trefil jen dvě trojky, ale zejména nájezdy Gerela
            Simmonse ho držely v kontaktu. Po 16 minutách hry se poprvé hosté
            dostali do vedení. Opavu ale držel ve vedení slovenský reprezentant
            Mokráň.
          </p>
          <p>
            Zápas se začal lámat v úvodu druhé půle, kdy se povedlo několik
            rychlých zakončení Kamauovi Stokesovi a po šňůře 7:0 si Nymburk
            vytvořil devítibodové vedení, které už nepustil. Opava se sice
            snažila, ale proti nymburské obraně získávala jen trestné hody,
            které však zahazovala.
          </p>
          <p>
            Nymburk se mohl opřít také o litevského pivota Rapolase Ivanauskase,
            který kraloval pod košem na doskoku i v zakončení, když dobře
            využíval menší sestavy soupeře.
          </p>
          <h2>Ohlasy trenérů</h2>
          <p>
            <strong>Roberts Štelmahers</strong> (trenér Nymburka): „Je to velké
            vítězství hned na úvod. Věděli jsme, že to bude těžké utkání, byla
            tu skvělá atmosféra a byla to pro nás dobrá prověrka přes Champions
            League. Poznali jsme, co ještě musíme zlepšit. Ale potěšil mě ten
            bojovný duch, jaký jsme ukázali. Je jednoduché vyhrávat, když se vám
            daří střelba. Ale výhra je dvojnásob cenná, když se vám střelba
            nedaří jako nám dnes. Ukázali jsme dobrý charakter a bojovnost.
            Museli jsme trochu improvizovat sestavou a hrát s menšími hráči jako
            soupeř, který neměl tolik hráčů pod košem, ale hrál hodně z
            perimetru. Důležité bylo, že jsme jim zastavili jejich protiútok a
            nedovolili jsme jim snadné body.“
            <strong>Rapolas Ivanauskas</strong> (hráč Nymburka): „Jsem velmi
            spokojený. Vyhráli jsme nad velmi dobrým týmem, který hraje hodně
            fyzicky. Mě zápas opravdu hodně bavil. Snažil jsem se dělat vše
            možné, abych týmu pomohl k výhře. Soustředil jsem se hlavně na
            doskok a obranu, a pak jsem se dostal více do hry i v útoku. Dnes
            jsme si ale hlavně pomohli obranou. Ještě bychom se mohli vyvarovat
            tolika faulů a nedat jim tolik trestných hodů, ale jinak jsme je
            nutili do těžkých střel. My se bohužel netrefovali, ale to přijde.
            Jen to chce získat trochu více sebevědomí v zápasech.“
          </p>
        </div>
      </div>
      {% include "@components/aside/aside.twig" %}
    </div>
  </div>
</section>
