<section class="c-player-detail-section mb-10">
  <div class="container">
    <div class="o-content">
      <h2>O hráči</h2>
      <p>
        Hrající legenda nymburského klubu. Přišel v roce 2007 z Brna a od té
        doby slavil v každé sezoně titul. S dvanácti mistrovskými poháry je
        českým rekordmanem. Na kontě má nejvíce zápasů i bodů v nymburském
        dresu.
      </p>
      <h2>Fotogalerie hráče</h2>
      <div class="gallery row js-gallery mb-10">
        <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
          <a href="images/content/1.jpeg" data-size="1024x1024">
            <img src="images/content/1.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
        <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
          <a href="images/content/2.jpeg" data-size="1024x1024">
            <img src="images/content/2.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
        <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
          <a href="images/content/3.jpeg" data-size="1024x1024">
            <img src="images/content/3.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
        <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
          <a href="images/content/1.jpeg" data-size="1024x1024">
            <img src="images/content/1.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
        <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
          <a href="images/content/2.jpeg" data-size="1024x1024">
            <img src="images/content/2.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>
