.bcg-logo {
  background-image: url("../images/ico/bg-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 578px;
  margin-top: -10%;
  width: 100%;
  z-index: 1;
}
