.btn {
  border: none;
  outline: none;
  transition: transform 0.3s;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  margin: 0 auto;
  width: fit-content;
  display: block;
  padding: 12px 32px;
  &:hover {
    transform: scale(1.05);
  }
}
.btn-radius {
  border-radius: 32px 0;
}
.btn-primary {
  background-color: var(--color-red);
  color: var(--color-light);
  &:hover {
    background-color: var(--color-red);
  }
}
.btn.btn-primary {
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  display: block;
  padding: 0;
  margin: 0;
}
