.pagination {
  margin-bottom: 40px;
  .page-item.active .page-link {
    background-color: var(--color-red);
    border-color: var(--color-red);
    color: var(--color-light);
  }
  .page-link {
    color: var(--color-red);
  }
}
