<div class="league">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md text-center">
        <a href="#" target="_blank">
          <img src="images/content/league-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md text-center">
        <a href="#" target="_blank">
          <img src="images/content/league-2.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md text-center">
        <a href="#" target="_blank">
          <img src="images/content/league-3.png" loading="lazy" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
