<article class="c-post-article mb-6">
  <a class="c-post-article__img" href="">
    <picture>
      <img src="images/content/1.jpeg" loading="lazy" alt="" />
    </picture>
  </a>
  <div class="c-post-article__content">
    <span>2. 8. 2022 | Redakce</span>
    <h3 class="h3">
      <a href="">
        Východočeské basketbalistky vezou bronz vezou bronz vezou bronz vezou
        bronz z ODM 2022</a
      >
    </h3>
  </div>
</article>
