<div class="pub">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 col-md text-center">
        <a href="#" target="_blank">
          <img src="images/content/pub-1.jpg" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md text-center">
        <a href="#" target="_blank">
          <img src="images/content/pub-2.jpg" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md text-center">
        <a href="#" target="_blank">
          <img src="images/content/pub-3.jpg" loading="lazy" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
