/*! purgecss start ignore */
.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 0.0625rem !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 0.0625rem !important;
  white-space: nowrap !important;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--color-red) !important;
}
.select2-container {
  .select2-selection--single {
    height: auto;
    padding: 1px 38px 2px 24px;
    border-color: var(--color-gray);
    outline: solid transparent 1px;
    transition: all 0.3s;
  }
}
.select2-container--open {
  .select2-selection--single {
    border-color: var(--color-gray);
    outline-color: var(--color-gray);
  }
}
.-error {
  .select2-container {
    .select2-selection--single {
      border-color: var(--color-red);
      outline-color: var(--color-red);
    }
  }
}
.-disabled {
  cursor: not-allowed;
  * {
    cursor: not-allowed;
  }
  .select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: var(--color-red);
  }
  .select2-container {
    .select2-selection--single {
      background-color: var(--color-light);
      border-color: var(--color-red);
      b {
        opacity: 0.2;
      }
    }
  }
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 12px;
  right: 24px;
  width: 10px;
  height: 1.625rem;
  position: absolute;
  b {
    background-image: url("../images/ico/chevron.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 10px;
    height: 10px;
    margin-left: -0.25rem;
    margin-top: -0.125rem;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
.select2-dropdown {
  top: 2px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);
}
.select2-results__options {
  > li {
    padding: 10px 16px;
    font-size: 14px;
    > span {
      align-items: center;
      display: flex;
      width: 100%;
      img {
        margin-right: 16px;
      }
    }
  }
  .select2-results__option--selected {
    background-color: var(--color-red) !important;
    color: var(--color-light);
  }
  .select2-results__option--highlighted  {
    background-color: var(--color-grey) !important;
  }
}
.select2-container .select2-selection--single .select2-selection__rendered {
  color: var(--color-dark);
  font-size: 16px;

  font-weight: 700;
  padding: 0;
}
.select2-container--default .select2-selection--single {
  border: 1px solid var(--color-gray);
  height: 38px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  border-radius: 0.25rem;
}

/*! purgecss end ignore */
