<section class="partners-section mb-10">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Hradecké Lvice</a></li>
      <li class="breadcrumb-item"><a href="#">Partneři klubu</a></li>
    </ul>
    <div class="row">
      <div class="col-12 col-lg mr-lg-4 pl-lg-2 pr-0">
        <h1 class="h1 mb-10">Partneři klubu</h1>
        <div class="o-content">
          <h2>Titulární partner</h2>
          <div
            class="row justify-content-center align-items-center text-center pb-5"
          >
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-2.png" loading="lazy" alt="" />
              </a>
            </div>
          </div>
          <h2>Hlavní reklamní sponzoři</h2>
          <div
            class="row justify-content-center align-items-center text-center pb-5"
          >
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-1.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-1.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-3.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-4.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-5.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-1.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-6.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-1.png" loading="lazy" alt="" />
              </a>
            </div>
          </div>
          <h2>Reklamní partneři</h2>
          <div
            class="row justify-content-center align-items-center text-center pb-5"
          >
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-1.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-1.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-3.png" loading="lazy" alt="" />
              </a>
            </div>

            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-1.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-6.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-1.png" loading="lazy" alt="" />
              </a>
            </div>
          </div>
          <h2>Mediální partneři</h2>
          <div
            class="row justify-content-center align-items-center text-center pb-5"
          >
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-2.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-4.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-3.png" loading="lazy" alt="" />
              </a>
            </div>

            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-1.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-6.png" loading="lazy" alt="" />
              </a>
            </div>
            <div class="partner-box col-6 col-md-4 col-lg-3 p-3">
              <a href="#" target="_blank">
                <img src="images/content/partner-1.png" loading="lazy" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside.twig" %}
    </div>
  </div>
</section>
