<section class="photogallery-section pb-5">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Hradecké Lvice</a></li>
      <li class="breadcrumb-item"><a href="#">Fotogalerie</a></li>
    </ul>
    <div class="row">
      <div class="col-12 col-lg mr-lg-4 pl-lg-2 pr-0">
        <h1 class="h1 mb-10">Fotogalerie - Všechny fotografie</h1>
        <div class="search-form">
          <form method="get">
            <div class="form-row">
              <div class="form-group col-md-4 col-12">
                <label
                  >Vyhledávání textu
                  <input
                    class="form-control"
                    type="text"
                    name="text"
                    id="inputCity"
                  />
                </label>
              </div>
              <div class="form-group col-md-4 col-12">
                <label class="o-select">
                  Vyhledávání textu
                  <select class="js-select" name="file" id="inputFiles">
                    <option value="">Vyberte</option>
                    <option value="tipsport">
                      Fotografie z druhého dne Crystal Bohemia Cupu 2021
                    </option>
                    <option value="tipsport">
                      Fotografie z druhého dne Crystal Bohemia Cupu 2021
                    </option>
                    <option value="tipsport">
                      Fotografie z druhého dne Crystal Bohemia Cupu 2021
                    </option>
                    <option value="tipsport">
                      Fotografie z druhého dne Crystal Bohemia Cupu 2021
                    </option>
                    <option value="tipsport">
                      Fotografie z druhého dne Crystal Bohemia Cupu 2021
                    </option>
                    <option value="tipsport">
                      Fotografie z druhého dne Crystal Bohemia Cupu 2021
                    </option>
                    <option value="tipsport">
                      Fotografie z druhého dne Crystal Bohemia Cupu 2021
                    </option>
                    <option value="tipsport">
                      Fotografie z druhého dne Crystal Bohemia Cupu 2021
                    </option>
                  </select>
                </label>
              </div>
              <div class="form-group col-md-2 col-12">
                <label class="o-select">
                  Sezóny
                  <select class="js-select">
                    <option value="">Vyberte</option>
                    <option value="tipsport">2020/21</option>
                    <option value="tipsport">2019/20</option>
                    <option value="tipsport">2018/19</option>
                    <option value="tipsport">2017/18</option>
                  </select>
                </label>
              </div>
              <div class="form-group pt-md-4 col-md-2 mt-auto">
                <button type="submit" class="btn btn-primary">Hledat</button>
              </div>
            </div>
          </form>
        </div>
        <div class="gallery row js-gallery">
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/1.jpeg" data-size="1024x1024">
              <img src="images/content/1.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/2.jpeg" data-size="1024x1024">
              <img src="images/content/2.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/3.jpeg" data-size="1024x1024">
              <img src="images/content/3.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/1.jpeg" data-size="1024x1024">
              <img src="images/content/1.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/2.jpeg" data-size="1024x1024">
              <img src="images/content/2.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/1.jpeg" data-size="1024x1024">
              <img src="images/content/1.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/1.jpeg" data-size="1024x1024">
              <img src="images/content/1.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/3.jpeg" data-size="1024x1024">
              <img src="images/content/3.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/2.jpeg" data-size="1024x1024">
              <img src="images/content/2.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/1.jpeg" data-size="1024x1024">
              <img src="images/content/1.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/1.jpeg" data-size="1024x1024">
              <img src="images/content/1.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/3.jpeg" data-size="1024x1024">
              <img src="images/content/3.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/1.jpeg" data-size="1024x1024">
              <img src="images/content/1.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
          <figure class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
            <a href="images/content/1.jpeg" data-size="1024x1024">
              <img src="images/content/1.jpeg" loading="lazy" alt="" />
            </a>
          </figure>
        </div>
        <nav aria-label="Další stránky">
          <ul
            class="pagination d-flex flex-wrap pagination-flat pagination-success"
          >
            <li class="page-item active">
              <a class="page-link" href="#" data-abc="true">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" data-abc="true"> »</a>
            </li>
          </ul>
        </nav>
      </div>
      {% include "@components/aside/aside.twig" %}
    </div>
    <h2 class="h2 mb-10">Doporučené články</h2>
  </div>
  {% include "@components/hp-posts-section/hp-posts-section.twig" %}
</section>
