.gallery {
  a {
    aspect-ratio: 256/200;
    display: block;
    img {
      object-fit: cover;
      transition: all 0.2s ease-in-out;
      width: 100%;
      height: 100%;
    }
  }
}
.pswp__img {
  object-fit: cover;
  height: auto !important;
  max-height: 80vh;
  margin: auto;
  top: 0;
  bottom: 0;
}
