<section class="c-table-section">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Hradecké Lvice</a></li>
      <li class="breadcrumb-item"><a href="#">Tabulka</a></li>
    </ul>
    <div class="row">
      <div class="col-12 col-lg mr-lg-4 pl-lg-2 pr-0 mb-10">
        <h1 class="h1 mb-10">Tabulka</h1>
        <div class="search-form mb-10">
          <form method="get">
            <div class="form-row">
              <div class="form-group col-md-4 col-12">
                <label class="o-select">
                  Sezona:
                  <select class="js-select" name="file" id="inputFiles">
                    <option value="">Vyberte</option>
                    <option value="">kategorie</option>
                    <option value="">kategorie</option>
                    <option value="">kategorie</option>
                    <option value="">kategorie</option>
                    <option value="">kategorie</option>
                  </select>
                </label>
              </div>
            </div>
          </form>
        </div>
        <div class="o-content">
          <table>
            <thead>
              <tr>
                <th><a href="#">P.</a></th>
                <th></th>
                <th><a href="#">Tým</a></th>
                <th><a href="#">Z</a></th>
                <th><a href="#">V</a></th>
                <th><a href="#">R</a></th>
                <th><a href="#">P</a></th>
                <th><a href="#">B</a></th>
                <th><a href="#">Skóre</a></th>
                <th><a href="#">RG</a></th>
                <th><a href="#">+/-</a></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>1</strong></td>
                <td>
                  <img src="images/content/team-1.png" loading="lazy" alt="" />
                </td>
                <td>Levhartice Chomutov</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td><strong>1</strong></td>
                <td>
                  <img src="images/content/team-1.png" loading="lazy" alt="" />
                </td>
                <td>Levhartice Chomutov</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td><strong>1</strong></td>
                <td>
                  <img src="images/content/team-1.png" loading="lazy" alt="" />
                </td>
                <td>Levhartice Chomutov</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr class="lvice">
                <td>2.</td>
                <td>
                  <img src="images/content/team-2.png" loading="lazy" alt="" />
                </td>
                <td>Hradecké Lvice</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td><strong>1</strong></td>
                <td>
                  <img src="images/content/team-1.png" loading="lazy" alt="" />
                </td>
                <td>Levhartice Chomutov</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td><strong>1</strong></td>
                <td>
                  <img src="images/content/team-1.png" loading="lazy" alt="" />
                </td>
                <td>Levhartice Chomutov</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td><strong>1</strong></td>
                <td>
                  <img src="images/content/team-1.png" loading="lazy" alt="" />
                </td>
                <td>Levhartice Chomutov</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td><strong>1</strong></td>
                <td>
                  <img src="images/content/team-1.png" loading="lazy" alt="" />
                </td>
                <td>Levhartice Chomutov</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td><strong>1</strong></td>
                <td>
                  <img src="images/content/team-1.png" loading="lazy" alt="" />
                </td>
                <td>Levhartice Chomutov</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
              <tr>
                <td><strong>1</strong></td>
                <td>
                  <img src="images/content/team-1.png" loading="lazy" alt="" />
                </td>
                <td>Levhartice Chomutov</td>
                <td>27</td>
                <td>13</td>
                <td>18</td>
                <td>20</td>
                <td>13</td>
                <td>56:24</td>
                <td>32</td>
                <td>26</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% include "@components/aside/aside.twig" %}
    </div>
  </div>
</section>
