<section class="c-table-section">
   <div class="container">
      <ul class="breadcrumb">
         <li class="breadcrumb-item"><a href="#">Hradecké Lvice</a></li>
         <li class="breadcrumb-item"><a href="#">Tabulka</a></li>
       </ul>
   </div>
</section>