.header {
  position: fixed;
  top: 16px;
  width: 100%;
  z-index: 30;
  @include media-breakpoint-down(xl) {
    top: 0;
  }
  .container {
    @include media-breakpoint-down(xl) {
      padding: 0;
    }
  }
  &__inner {
    background-color: var(--color-red);
    display: flex;
    justify-content: center;
    box-shadow: 0 6px 44px 0 rgba(0, 0, 0, 0.09);
    border-top-left-radius: 120px 160px;
    border-bottom-right-radius: 120px 160px;
    @include media-breakpoint-down(xl) {
      padding: 20px 0;
      border-radius: 0;
    }
  }
  .social {
    margin-left: auto;
    display: flex;
    @include media-breakpoint-down(xl) {
      margin-right: 16px;
      margin-top: 12px;
    }
  }

  .navbar-expand-lg {
    @include media-breakpoint-only(lg) {
      flex-wrap: wrap;
    }
    .navbar-collapse {
      @include media-breakpoint-down(xl) {
        background-color: var(--color-red);
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 99;
        width: 100%;
        padding: 1rem 0;
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        -webkit-box-shadow: -1px 0px 34px -1px rgba(0, 0, 0, 0.11);
        -moz-box-shadow: -1px 0px 34px -1px rgba(0, 0, 0, 0.11);
        box-shadow: -1px 0px 34px -1px rgba(0, 0, 0, 0.11);
        transition: opacity 0.3s, visibility 0.3s;
        flex-wrap: wrap;
      }
      @include media-breakpoint-down(sm) {
        width: 100% !important;
        right: 0 !important;
        box-shadow: none !important;
      }
    }
  }
}
.header__logo {
  display: none;
  width: 178px;
  margin: 0 auto;
  position: relative;
  z-index: 999;
  @include media-breakpoint-down(xl) {
    display: block;
    position: absolute;
    left: -16px;
    top: -32px;
  }
}
.navbar-nav__logo {
  width: 178px;
  position: absolute;
  top: -26px;
  left: 0;
  right: 0;
  margin: 0 auto;
  .header__logo {
    display: block;
    @include media-breakpoint-down(xl) {
      display: none;
    }
  }
}

.collapse:not(.show) {
  display: flex;
}
.header .navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  &-nav {
    display: flex;
    @include media-breakpoint-down(xl) {
      flex-direction: column !important;
      text-align: center;
      width: 100%;
    }
  }
  &-nav--left {
    padding-right: 28px;
    justify-content: flex-end;
    flex: 0 0 50%;
    max-width: 50%;
    @include media-breakpoint-down(xl) {
      padding-right: 0;
      max-width: 100%;
      flex: 100%;
    }
  }
  &-nav--right {
    padding-left: 160px;
    justify-content: flex-start;
    flex: 0 0 44%;
    max-width: 44%;
    @include media-breakpoint-down(xl) {
      padding-left: 0;
      max-width: 100%;
      flex: 100%;
    }
  }
  &-collapse {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 90px;
    align-items: center;
  }
}
.is-nav-open .header .navbar-expand-lg .navbar-collapse {
  @include media-breakpoint-down(xl) {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
  }
}
.c-header__opener {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  color: var(--color-light);
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 8px;
  @include media-breakpoint-down(sm) {
    padding: 0.25rem 0;
  }
  span {
    width: 24px;
    height: 3px;
    background: #fff;
    transform: translateY(-1px);
    box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
    display: block;
    margin-left: 16px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 3px;
      background: #fff;
      left: 0;
      right: 0;
      box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
    }
    &::before {
      transform: translateY(-7px);
    }
    &::after {
      transform: translateY(7px);
    }
  }
  &:focus {
    box-shadow: none;
  }

  @include media-breakpoint-only(xl) {
    display: none;
  }
  @include media-breakpoint-only(xxl) {
    display: none;
  }
}
.nav-link {
  font-family: "Satoshi-Bold", sans-serif;
  font-weight: 700;
  color: var(--color-light);
  font-size: 16px;
  line-height: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  @include media-breakpoint-down(xl) {
    text-align: right;
    padding-right: 24px;
  }
}
.nav-item {
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-breakpoint-down(xl) {
    padding: 10px 0;
  }
}
.nav-item + .nav-item {
  position: relative;
  padding-left: 8px;
  margin-left: 12px;
  @include media-breakpoint-down(xl) {
    padding-left: 0;
    margin-left: 0;
    &::before {
      display: none;
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 11px;
    transform: rotate(15deg);
    left: 0;
    top: 40%;
    background-color: var(--color-light);
  }
}
.nav-link:focus,
.nav-link:hover {
  color: var(--color-light);
}

.dropdown-menu[data-bs-popper] {
  top: 98%;
}
.dropdown {
  &-toggle {
    &::after {
      display: none;
    }
  }
  &-menu {
    position: absolute;
    top: 98%;
    left: -20px;
    z-index: 20;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0 0;
    font-size: 1rem;
    color: white;
    text-align: left;
    list-style: none;
    background-color: var(--color-red);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.05);
    transform: rotate(0deg) skew(-10deg, 0deg) translate(0, 0);
    @include media-breakpoint-down(xl) {
      text-align: center;
      position: static;
      box-shadow: none;
      transform: none;
      border-left: none;
      border-right: none;
      width: 100%;
      text-align: right;
      left: 0 !important;
      padding-right: 24px;
      padding-left: 24px;
      li {
        margin-bottom: 8px;
      }
    }
    &[data-bs-popper] {
      margin-top: 0;
    }
  }
  &-item {
    display: block;
    width: 105%;
    position: relative;
    left: -2%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    transform: rotate(0deg) skew(10deg, 0deg) translate(0, 0);
    &:hover,
    &:focus {
      background-color: var(--color-light);
      color: var(--color-dark);
    }
    @include media-breakpoint-down(xl) {
      transform: none;
      width: 100%;
      left: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
    &.show {
      display: block;
    }
  }
  .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
