.partners {
  margin-top: 68px;
  margin-bottom: 100px;
  .slick-arrow {
    display: none;
  }
  &__item {
    img {
      max-height: 105px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
