<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__scroll">{% include "@images/arrow-up.svg" %}</div>
      <a class="footer__logo" href="">
        <img src="images/content/logo.png" loading="lazy" alt="logo" />
      </a>
      <nav class="footer__nav">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#">Klub</a>
          </li>
          <li class="footer__item">
            <a href="#">A-Tým</a>
          </li>
          <li class="footer__item">
            <a href="#">Zápasy</a>
          </li>
          <li class="footer__item">
            <a href="#">Mládež</a>
          </li>
          <li class="footer__item">
            <a href="#">Galerie</a>
          </li>
          <li class="footer__item">
            <a href="#">Partneři</a>
          </li>
          <li class="footer__item">
            <a href="#">Fanzóna</a>
          </li>
        </ul>
      </nav>
      {% include "@components/social/social.twig" %}
    </div>
    <div class="footer__bottom">
      <p>Všechna práva vyhrazena 2022 © Hradeckelvice.cz</p>
      <p>
        Klubový web od <a href="https://esportsmedia.cz/">eSportsmedia.cz</a>
      </p>
    </div>
  </div>
</footer>
