<section class="c-juniors-section">
  <div class="container">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Hradecké Lvice</a></li>
      <li class="breadcrumb-item"><a href="#">Mládež</a></li>
    </ul>
    <div class="row">
      <div class="col-12 col-lg mr-lg-4 pl-lg-2 pr-0">
        <h1 class="h1 mb-10">Mládež</h1>
        <ul class="c-juniors-list">
          <li>
            <a class="active" href="#">U19</a>
          </li>
          <li>
            <a href="#">U17</a>
          </li>
          <li>
            <a href="#">U16</a>
          </li>
          <li>
            <a href="#">U15</a>
          </li>
          <li>
            <a href="#">U14</a>
          </li>
          <li>
            <a href="#">U13</a>
          </li>
          <li>
            <a href="#">U12</a>
          </li>
          <li>
            <a href="#">U11</a>
          </li>
          <li>
            <a href="#">U10</a>
          </li>
        </ul>
        <div class="tabs-wrapper">
          <ul class="tabs">
            <li>
              <a href="#" class="tab active" data-id="1">Tabulka</a>
            </li>
            <li>
              <a href="#" class="tab" data-id="2">Zápasy</a>
            </li>
            <li>
              <a href="#" class="tab" data-id="3">Soupiska</a>
            </li>
          </ul>
          <div class="tab-content tab-active" id="1">
            <div class="c-table-section">
              <div class="o-content">
                <table>
                  <thead>
                    <tr>
                      <th><a href="#">P.</a></th>
                      <th></th>
                      <th><a href="#">Tým</a></th>
                      <th><a href="#">Z</a></th>
                      <th><a href="#">V</a></th>
                      <th><a href="#">R</a></th>
                      <th><a href="#">P</a></th>
                      <th><a href="#">B</a></th>
                      <th><a href="#">Skóre</a></th>
                      <th><a href="#">RG</a></th>
                      <th><a href="#">+/-</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>1</strong></td>
                      <td>
                        <img
                          src="images/content/team-1.png"
                          loading="lazy"
                          alt=""
                        />
                      </td>
                      <td>Levhartice Chomutov</td>
                      <td>27</td>
                      <td>13</td>
                      <td>18</td>
                      <td>20</td>
                      <td>13</td>
                      <td>56:24</td>
                      <td>32</td>
                      <td>26</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td>
                        <img
                          src="images/content/team-1.png"
                          loading="lazy"
                          alt=""
                        />
                      </td>
                      <td>Levhartice Chomutov</td>
                      <td>27</td>
                      <td>13</td>
                      <td>18</td>
                      <td>20</td>
                      <td>13</td>
                      <td>56:24</td>
                      <td>32</td>
                      <td>26</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td>
                        <img
                          src="images/content/team-1.png"
                          loading="lazy"
                          alt=""
                        />
                      </td>
                      <td>Levhartice Chomutov</td>
                      <td>27</td>
                      <td>13</td>
                      <td>18</td>
                      <td>20</td>
                      <td>13</td>
                      <td>56:24</td>
                      <td>32</td>
                      <td>26</td>
                    </tr>
                    <tr class="lvice">
                      <td>2.</td>
                      <td>
                        <img
                          src="images/content/team-2.png"
                          loading="lazy"
                          alt=""
                        />
                      </td>
                      <td>Hradecké Lvice</td>
                      <td>27</td>
                      <td>13</td>
                      <td>18</td>
                      <td>20</td>
                      <td>13</td>
                      <td>56:24</td>
                      <td>32</td>
                      <td>26</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td>
                        <img
                          src="images/content/team-1.png"
                          loading="lazy"
                          alt=""
                        />
                      </td>
                      <td>Levhartice Chomutov</td>
                      <td>27</td>
                      <td>13</td>
                      <td>18</td>
                      <td>20</td>
                      <td>13</td>
                      <td>56:24</td>
                      <td>32</td>
                      <td>26</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td>
                        <img
                          src="images/content/team-1.png"
                          loading="lazy"
                          alt=""
                        />
                      </td>
                      <td>Levhartice Chomutov</td>
                      <td>27</td>
                      <td>13</td>
                      <td>18</td>
                      <td>20</td>
                      <td>13</td>
                      <td>56:24</td>
                      <td>32</td>
                      <td>26</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td>
                        <img
                          src="images/content/team-1.png"
                          loading="lazy"
                          alt=""
                        />
                      </td>
                      <td>Levhartice Chomutov</td>
                      <td>27</td>
                      <td>13</td>
                      <td>18</td>
                      <td>20</td>
                      <td>13</td>
                      <td>56:24</td>
                      <td>32</td>
                      <td>26</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td>
                        <img
                          src="images/content/team-1.png"
                          loading="lazy"
                          alt=""
                        />
                      </td>
                      <td>Levhartice Chomutov</td>
                      <td>27</td>
                      <td>13</td>
                      <td>18</td>
                      <td>20</td>
                      <td>13</td>
                      <td>56:24</td>
                      <td>32</td>
                      <td>26</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td>
                        <img
                          src="images/content/team-1.png"
                          loading="lazy"
                          alt=""
                        />
                      </td>
                      <td>Levhartice Chomutov</td>
                      <td>27</td>
                      <td>13</td>
                      <td>18</td>
                      <td>20</td>
                      <td>13</td>
                      <td>56:24</td>
                      <td>32</td>
                      <td>26</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td>
                        <img
                          src="images/content/team-1.png"
                          loading="lazy"
                          alt=""
                        />
                      </td>
                      <td>Levhartice Chomutov</td>
                      <td>27</td>
                      <td>13</td>
                      <td>18</td>
                      <td>20</td>
                      <td>13</td>
                      <td>56:24</td>
                      <td>32</td>
                      <td>26</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="tab-content" id="2">
            <div class="matches__item row">
              <div class="matches__item-date col-2 pl-0">
                úterý
                <span>4. 10. </span>
                <span class="time">18:30</span>
              </div>
              <div class="col-auto matches__item-logo">
                <img src="images/content/team-1.png" loading="lazy" alt="" />
              </div>
              <div class="col p-0 matches__item-team">
                <h2 class="h3">ERA Basketball Nymburk</h2>
                <h2 class="h3">Surne Bilbao Basket</h2>
                <span>Praha Královka</span>
              </div>
              <div class="col-auto matches__item-result px-2">
                <a href="#" class="lose">
                  <span>21</span>
                  <span>33</span>
                </a>
              </div>
            </div>
            <div class="matches__item row">
              <div class="matches__item-date col-2 pl-0">
                úterý
                <span>4. 10. </span>
                <span class="time">18:30</span>
              </div>
              <div class="col-auto matches__item-logo">
                <img src="images/content/team-1.png" loading="lazy" alt="" />
              </div>
              <div class="col p-0 matches__item-team">
                <h2 class="h3">ERA Basketball Nymburk</h2>
                <h2 class="h3">Surne Bilbao Basket</h2>
                <span>Praha Královka</span>
              </div>
              <div class="col-auto matches__item-result px-2">
                <a href="#" class="lose">
                  <span>21</span>
                  <span>33</span>
                </a>
              </div>
            </div>
            <div class="matches__item row">
              <div class="matches__item-date col-2 pl-0">
                úterý
                <span>4. 10. </span>
                <span class="time">18:30</span>
              </div>
              <div class="col-auto matches__item-logo">
                <img src="images/content/team-1.png" loading="lazy" alt="" />
              </div>
              <div class="col p-0 matches__item-team">
                <h2 class="h3">ERA Basketball Nymburk</h2>
                <h2 class="h3">Surne Bilbao Basket</h2>
                <span>Praha Královka</span>
              </div>
              <div class="col-auto matches__item-result px-2">
                <a href="#" class="lose">
                  <span>21</span>
                  <span>33</span>
                </a>
              </div>
            </div>
            <div class="matches__item row">
              <div class="matches__item-date col-2 pl-0">
                úterý
                <span>4. 10. </span>
                <span class="time">18:30</span>
              </div>
              <div class="col-auto matches__item-logo">
                <img src="images/content/team-2.png" loading="lazy" alt="" />
              </div>
              <div class="col p-0 matches__item-team">
                <h2 class="h3">ERA Basketball Nymburk</h2>
                <h2 class="h3">Surne Bilbao Basket</h2>
                <span>Praha Královka</span>
              </div>
              <div class="col-auto matches__item-result px-2">
                <a href="#" class="win">
                  <span>21</span>
                  <span>33</span>
                </a>
              </div>
            </div>
            <div class="matches__item row">
              <div class="matches__item-date col-2 pl-0">
                úterý
                <span>4. 10. </span>
                <span class="time">18:30</span>
              </div>
              <div class="col-auto matches__item-logo">
                <img src="images/content/team-1.png" loading="lazy" alt="" />
              </div>
              <div class="col p-0 matches__item-team">
                <h2 class="h3">ERA Basketball Nymburk</h2>
                <h2 class="h3">Surne Bilbao Basket</h2>
                <span>Praha Královka</span>
              </div>
              <div class="col-auto matches__item-result px-2">
                <a href="#" class="">
                  <span>0</span>
                  <span>0</span>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-content" id="3">
            <div class="c-table-section">
              <div class="o-content">
                <table>
                  <thead>
                    <tr>
                      <th><a href="#">#</a></th>
                      <th><a href="#">Jméno hráče</a></th>
                      <th><a href="#">Narozen</a></th>
                      <th><a href="#">Věk</a></th>
                      <th><a href="#">Výška</a></th>
                      <th><a href="#">Post</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>1</strong></td>
                      <td><a href="#">Simona Růžková</a></td>
                      <td>26.9.1995</td>
                      <td>26</td>
                      <td>183</td>
                      <td>PF</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td><a href="#">Simona Růžková</a></td>
                      <td>26.9.1995</td>
                      <td>26</td>
                      <td>183</td>
                      <td>PF</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td><a href="#">Simona Růžková</a></td>
                      <td>26.9.1995</td>
                      <td>26</td>
                      <td>183</td>
                      <td>PF</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td><a href="#">Simona Růžková</a></td>
                      <td>26.9.1995</td>
                      <td>26</td>
                      <td>183</td>
                      <td>PF</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td><a href="#">Simona Růžková</a></td>
                      <td>26.9.1995</td>
                      <td>26</td>
                      <td>183</td>
                      <td>PF</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td><a href="#">Simona Růžková</a></td>
                      <td>26.9.1995</td>
                      <td>26</td>
                      <td>183</td>
                      <td>PF</td>
                    </tr>
                    <tr>
                      <td><strong>1</strong></td>
                      <td><a href="#">Simona Růžková</a></td>
                      <td>26.9.1995</td>
                      <td>26</td>
                      <td>183</td>
                      <td>PF</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "@components/aside/aside.twig" %}
    </div>
  </div>
</section>
