<section class="c-topstory-section">
  <div class="row">
    <div class="c-topstory__item">
      <div class="c-topstory__inner">
        <a href="#">
          <div class="c-topstory__info">
            <div class="tag">Klub</div>
            <h1 class="h2">
              Východočeské basketbalistky vezou bronz z ODM 2022
            </h1>
            <h6 class="h6">před 2 dny</h6>
          </div>
          <div class="box-shadow"></div>
          <img src="images/content/1.jpeg" alt="" loading="lazy" />
        </a>
      </div>
    </div>
    <div class="c-topstory__item">
      <div class="c-topstory__inner">
        <a href="#">
          <div class="c-topstory__info">
            <div class="tag">Klub</div>
            <h2 class="h2">
              Prodloužení patřilo lvicím a k bronzu jim chybí už "jen" krok
            </h2>
            <h6 class="h6">dnes</h6>
          </div>
          <div class="box-shadow"></div>
          <img src="images/content/2.jpeg" alt="" loading="lazy" />
        </a>
      </div>
    </div>
    <div class="c-topstory__item">
      <div class="c-topstory__inner">
        <a href="#">
          <div class="c-topstory__info">
            <div class="tag">Klub</div>
            <h2 class="h2">
              Lvice budou letos bojovat o bronz, do finále postupují Žabiny
            </h2>
            <h6 class="h6">před 2 dny</h6>
          </div>
          <div class="box-shadow"></div>
          <img src="images/content/3.jpeg" alt="" loading="lazy" />
        </a>
      </div>
    </div>
  </div>
</section>
